@{
    ViewData["Title"] = "LogIn";
}
@model User


<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Giriş Yap</h3>
            </div>
            <form asp-action="LogIn">
                <div class="card-body">
                    <div>
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div>
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" />
                    </div>
                    <div>
                        <label asp-for="Password"></label>
                        <input type="password" asp-for="Password" class="form-control" />
                    </div>
                </div>
                <div class="card-footer" style="height:50px">
                    <input type="submit" class="btn btn-outline-success float-end btn-sm" value="Giriş Yap" />
                    <a asp-controller="Users" asp-action="Register" asp-area="Account" class="btn btn-outline-info btn-sm float-start">Kayıt Ol</a>
                </div>
            </form>

        </div>
    </div>

</div>

